*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-container{
    margin: 250px;
    display: flex;
}

#img-container, #container-description{
    display: flex;
    width: 350px;
    height: 500px;
}

#img-container{
    background: url("images/img-product-desktop.jpg") no-repeat center/cover;
    border-radius: 10px 0 0 10px;
}

#img-perfume{
    width: 100%;
}

#container-description{
    padding: 15px 40px;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 10px 10px 0;
}

h2{
    margin-top: 25px;
    line-height: 1;
    font-family: 'Fraunces', serif;
    font-size: 2.6rem;
    color: hsl(212, 21%, 14%);
}

p{
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 55%);
    font-weight: 500;
}

#perfume{
    letter-spacing: 5px;
    font-size: 0.75rem;
}

#para{
    word-spacing: 5px;
    font-size: 1rem;
    line-height: 1.5;

}

#price-container{
    display: flex;
    align-items: center;
    
}

#sale-price{
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
    margin-right: 15px;
}

#orig-price{
    font-size: 0.8rem;
    text-decoration: line-through;
}

#btn-container{
    padding: 25px 0 0;
    height: 100%;
}

button img{
    width: 16px;
    margin-right: 8px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 50px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 8px;
    width: 270px;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
} 

button:hover{
    cursor: pointer;
    background-color: hsl(158, 36%, 20%);
}
footer{
    text-align: center;
    padding-bottom: 30px;
}

@media only screen and (max-width: 768px){
    #product-container{
        margin: 30px;
        display: flex;
        flex-direction: column;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }
    
    #img-container{
        background: url("images/img-product-mobile.jpg") no-repeat center/cover;
        border-radius: 10px 10px 0 0;
        width: 350px;
        height: 240px;
    }

    #container-description{
        padding: 20px 25px;
        border-radius: 0 0 10px 10px;  
        height: 100%;
    }
    
    h2{
        margin-top: 18px;
        font-size: 2rem;
    }

    p{
        margin-top: 20px;  
    }

    #para{
        font-size: 0.875rem;
    }

    #perfume{
        margin-top: 3px;
    }

    #price-container{
        margin: 1px 0;
    }

    button {    
    border-radius: 8px;
    width: 300px;
    } 

    footer{
        font-size: 0.7rem;
    }

}